<a href="https://colab.research.google.com/github/youssefadel114/Python/blob/main/Python_06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Return commen elements
 Write a Python code that takes two lists as input and returns a new list containing the common elements present in both lists

In [ ]:
l1=[]
n1=int(input('Enter the length of the 1st list: '))
i=0
while i < n:
  num1=int(input('Enter the number you want to add in the 1st list: '))
  l1.append(num1)
  i+=1

l2=[]
n2=int(input('Enter the length of the 2nd list: '))
i=0
while i < n2:
  num2=int(input('Enter the number you want to add in the 2nd list: '))
  l2.append(num2)
  i+=1

common=[]
for i in l1:
  if i in l2:
    common.append(i)

print(l1)
print(l2)
print(f'The common element list: {common}')

Enter the length of the 1st list: 5
Enter the number you want to add in the 1st list: 1
Enter the number you want to add in the 1st list: 2
Enter the number you want to add in the 1st list: 3
Enter the number you want to add in the 1st list: 4
Enter the number you want to add in the 1st list: 5
Enter the length of the 2nd list: 6
Enter the number you want to add in the 2nd list: 9
Enter the number you want to add in the 2nd list: 8
Enter the number you want to add in the 2nd list: 7
Enter the number you want to add in the 2nd list: 6
Enter the number you want to add in the 2nd list: 5
Enter the number you want to add in the 2nd list: 4
[1, 2, 3, 4, 5]
[9, 8, 7, 6, 5, 4]
The common element list: [4, 5]

# Remove Duplicates from List

Write a Python program to remove duplicates from a list.

In [ ]:
# Got a hint from GreekforGreeks
l= [1,5,3,1,2,5,3]
new_l= []

for i in l:
  if i not in new_l:
     new_l.append(i)
print(f'The list without any duplication: {new_l}')

The list without any duplication: [1, 5, 3, 2]

# Generate cube Numbers in Range

Write a Python program to generate and print in one line  where the values are cube numbers between 1 and 30 (both included).

In [ ]:
for i in range(1, 31):
  print((i**3),end=' ')

1 8 27 64 125 216 343 512 729 1000 1331 1728 2197 2744 3375 4096 4913 5832 6859 8000 9261 10648 12167 13824 15625 17576 19683 21952 24389 27000

# Multiply Items in List

Write a Python program to multiply all the items in a list.

In [2]:
l=[1,2,3,4,5,6,7]
x=1
for i in l:
  x=x*i
print(x)

5040

# Replace Last Element with Another List

Write a Python program to replace the last element in a list with another list.

In [ ]:
l1=[1,2,3,4,5,6]
l2=[7,8,9,10]

l1= l1[:-1] + l2
l1

[1, 2, 3, 4, 5, 7, 8, 9, 10]

# Check If All Numbers Are Prime

Write a Python program to check if  number is prime . Return True if  number is prime otherwise False.

In [3]:

l= [1,2,3,4,5,6,7]

for i in l:
  if i == 0 or i ==1:
    print(f'{i} -> False')
  elif i == 2:
    print(f'{i} -> True')
  else:
    for x in range(2, i):
      if i % x == 0:
        print(f'{i} -> false')
        break
      else:
        print(f'{i} -> True')
        break

1 -> False
2 -> True
3 -> True
4 -> false
5 -> True
6 -> false
7 -> True

# Access List Indices

Write a Python program to access the index of a list.

nums = [5, 15, 35, 8, 98]

Expected Output:

0 5                                                                                                           
1 15                                                                                                          
2 35                                                                                                          
3 8                                                                                                           
4 98

In [ ]:
l= [5, 15, 35, 8, 98]
i=0

for i in range(len(l)):
  print(f"Index {i} -> {l[i]}")

Index 0 -> 5
Index 1 -> 15
Index 2 -> 35
Index 3 -> 8
Index 4 -> 98

# Difference Between Two Lists

Write a Python program to compute the difference between two lists.
Sample data: ["red", "orange", "green", "blue", "white"], ["black", "yellow", "green", "blue"]

Expected Output:

Color1-Color2: ['white', 'orange', 'red']

Color2-Color1: ['black', 'yellow']

In [ ]:
# i tried to do it with .pop, but it didn't work.

color1= ["red", "orange", "green", "blue", "white"]
color2= ["black", "yellow", "green", "blue"]


diff=[]
for i in color1:
  if i not in color2:
    diff.append(i)


diff2=[]
for i in color2:
  if i not in color1:
    diff2.append(i)

print('Color1-Color2=',diff)
print('Color2-Color1=',diff2)

Color1-Color2= ['red', 'orange', 'white']
Color2-Color1= ['black', 'yellow']

# Insert String Before List Items

Write a Python program to insert a given string at the beginning of all items in a list.

Sample list : [1,2,3,4], string : emp

Expected output : ['emp1', 'emp2', 'emp3', 'emp4']

In [ ]:
l= [1,2,3,4]
x= input('Enter the string: ')
for i in range(len(l)):
  l[i]= f'{x}{l[i]}'
print(l)

Enter the string: emp
['emp1', 'emp2', 'emp3', 'emp4']

#Repeat last 2 chars of a string 4 times.
Write a Python function to get a string made of 4 copies of the last two characters of a specified string (length must be at least 2). Sample function and result : insert_end('Python') -> onononon insert_end('Exercises') -> eseseses

In [ ]:
x=input()
print(x[-2:]*4)

analysis
isisisis

# Swap first and last chars of a string.
Write a Python program to change a given string to a newly string where the first and last chars have been exchanged.

In [ ]:
x= input('Enter the string: ')
print(f'{x[-1]}{x[1:-1]}{x[0]}')

Enter the string: data
aatd

# Reverse -ve number

Write a python code that reverse both negative and postive number

one code without built-in function

and

another within built-in function

In [ ]:
# Without build-in
l=[]
n=int(input('Enter the length of the list: '))
i=0
while i < n:
  num=int(input('Enter the number you want to add in your list: '))
  l.append(num)
  i+=1
l.sort()
l.reverse()
l

Enter the length of the list: 5
Enter the number you want to add in your list: -4
Enter the number you want to add in your list: -8
Enter the number you want to add in your list: 9
Enter the number you want to add in your list: 1
Enter the number you want to add in your list: 4

[9, 4, 1, -4, -8]

In [ ]:
# With build-in functions.
l=[]
n=int(input('Enter the length of the list: '))
i=0
while i < n:
  num=int(input('Enter the number you want to add in your list: '))
  l.append(num)
  i+=1
print(l)
l.sort()
x=list(reversed(l))
print(x)

Enter the length of the list: 5
Enter the number you want to add in your list: -3
Enter the number you want to add in your list: -2
Enter the number you want to add in your list: 5
Enter the number you want to add in your list: 6
Enter the number you want to add in your list: 1
[-3, -2, 5, 6, 1]
[6, 5, 1, -2, -3]